.vscode/launch.json
GameDev/Snake/__pycache__/
GameDev/Snake/data/scoreEASY.json
GameDev/Snake/data/scoreNORMAL.json
GameDev/Snake/__pycache__/Snake.cpython-37.pyc
GameDev/Snake/__pycache__/Snake.cpython-37.pyc
GameDev/Snake/__pycache__/SnakeGame.cpython-37.pyc
GameDev/Snake/.vscode/settings.json
GameDev/Snake/.vscode/launch.json
GameDev/Snake/start.bat
